@use "../../../style/mixins.scss" as mixin;

.btn {
    display: block;
    width: fit-content;
    max-height: 100%;
    padding: 0.4rem 0.9rem;
    background-color: var(--clr-off-white);
    color: var(--clr-bg);
    border: none;
    border-radius: 0.3rem;
    font-family: "market-deco", arial;
    text-transform: capitalize;
    text-decoration: none;
    font-size: clamp(0.9rem, 3vw, 1.25rem);
    transition: opacity 300ms linear;
    line-height: 1;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        opacity: 0.8;
    }
    /* &:focus {
        outline: var(--clr-off-white) 0.2rem solid;
    } */

    &.primary {
        background-color: var(--clr-primary);
    }
    &.secondary {
        background-color: var(--clr-secondary);
    }
    &.tertiary {
        background-color: var(--clr-tertiary);
    }
    &.off-white {
        background-color: var(--clr-off-white);
    }
}

@include mixin.desktop {
    .btn {
        margin-left: 0;
        margin-right: 0;
    }
}
