@use "../../../style/mixins" as mixin;
.page {
    padding-left: 1em;
    padding-right: 1em;
}
.album {
    display: block;
    max-width: 28rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.center_sm {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@include mixin.desktop {
    .page {
        max-width: 70rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        column-gap: 1.5rem;
    }
    .right {
        grid-column: 2;
    }
    .left {
        grid-column: 1;
        grid-row: 1/-1;
    }

    .album,
    .center_sm {
        margin-left: 0;
        margin-right: 0;
    }
}
