@use "../../../style/mixins" as mixin;

.center_sm {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@include mixin.desktop {
    .page {
        max-width: 70rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        column-gap: 1.5rem;
    }
    .right {
        grid-column: 2;
    }

    .left {
        grid-row: 1 / -1;
        grid-column: 1;
    }

    .center_sm {
        margin-left: 0;
        margin-right: 0;
    }
}
