.h1 {
    color: var(--clr-off-white);
}
.bg {
    position: relative;
    background-color: black;
    background-color: #000a08;
    z-index: -100;

    &::after {
        content: "";
        background-image: url("../../../static/texture.png");
        opacity: 0.3;
        background-repeat: repeat;
        position: absolute;
        inset: 0;
        z-index: -100;
    }
}
