@use "../../../style/mixins" as mixin;

.page {
    h1 {
        color: var(--clr-off-white);
    }
}
.bg {
    position: relative;
    background-color: black;
    background-color: #000a08;
    z-index: -100;

    &::after {
        content: "";
        background-image: url("../../../static/texture.png");
        opacity: 0.3;
        background-repeat: repeat;
        position: absolute;
        inset: 0;
        z-index: -100;
    }
}

@include mixin.desktop {
    .page {
        max-width: var(--max-width-grid);
        display: grid;
        column-gap: var(--column-gap);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4.5rem 3rem auto;
        h1,
        h2,
        .quote {
            grid-column: 1;
        }
    }

    .album {
        grid-column: 2;
        grid-row: 1/-1;
    }
}
