@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "market-deco";
    src: url("marketdeco/marketdeco-webfont.woff2") format("woff2"),
        url("marketdeco/marketdeco-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
