body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    font-family: "Archivo Narrow", sans-serif;
}
h1 {
    font-family: "market-deco", "Archivo Narrow";
    color: var(--clr-primary);
}
h2 {
    font-weight: normal;
}
a {
    color: var(--clr-primary);
}
