body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    font-family: "Archivo Narrow", sans-serif;
    line-height: 1.6;
}
h1 {
    font-family: "market-deco", "Archivo Narrow";
    color: var(--clr-primary);
    font-size: clamp(1.5rem, 7vw, 2.5rem);
}
h2 {
    font-weight: normal;
    font-size: clamp(1.2rem, 6vw, 1.6rem);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}
a {
    color: var(--clr-primary);
}
.section-padding {
    padding: clamp(2rem, 8vw, 34rem) 0;
}
