@use "./mixins.scss" as mixin;
body {
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    font-family: "Archivo Narrow", sans-serif;
    line-height: 1.6;
}
h1 {
    font-family: "market-deco", "Archivo Narrow";
    color: var(--clr-primary);
    font-size: clamp(1.5rem, 7vw, 2.5rem);
}
h2 {
    font-weight: normal;
    font-size: clamp(1.2rem, 5vw, 1.6rem);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}
a {
    color: var(--clr-primary);
}
.section-padding {
    padding: clamp(2rem, 7vw, 3.4rem) 0;
}

h1,
h2 {
    text-align: center;
    line-height: 1;
    margin-bottom: 1.4rem;
}

@include mixin.desktop {
    h1,
    h2 {
        text-align: left;
        margin-bottom: 0;
    }
}
