@use "../../../style/mixins.scss" as mixin;

.content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        color: var(--clr-off-white);
        margin-bottom: 1.4rem;
    }
    background-image: url("../../../static/images/bg.jpg");
    background-repeat: repeat;
    input {
        display: block;
        padding: 0.5rem 1rem;
        text-transform: capitalize;
        width: 80vw;
        max-width: 22rem;
        background-color: white; //var(--clr-off-white);
        border: none;
        margin-bottom: 1.5rem;
        font-family: "archivo narrow", sans-serif;
        letter-spacing: 0.15em;
        font-size: clamp(0.8rem, 4vw, 1.1rem);
        color: black;
    }
}
.banner {
    position: relative;
    display: none;
    max-width: 100%;
    z-index: 1;
    margin-top: -5rem;
}

@include mixin.desktop {
    .banner {
        display: block;
    }
}
