@use "../../../style/mixins" as mixin;
.container {
    max-width: var(--max-width-text);
    width: fit-content;
    font-size: clamp(1.2rem, 3.8vw, 1.45rem);
    margin-left: auto;
    margin-right: auto;
}
.quote {
    display: inline;
    vertical-align: sub;
    line-height: 1;
}
.icon {
    display: inline;
    margin-right: 0.6rem;
    &.primary {
        color: var(--clr-primary);
    }
    &.secondary {
        color: var(--clr-secondary);
    }
    &.tertiary {
        color: var(--clr-tertiary);
    }
    &.off-white {
        color: var(--clr-off-white);
    }
}
.author {
    text-transform: capitalize;
    font-size: clamp(1rem, 3vw, 1.15rem);
    margin-left: 0.4rem;
}
@include mixin.desktop {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}
