@use "../../../style/mixins.scss" as mixin;
.page {
    h1 {
        color: var(--clr-tertiary);
    }
}

.video {
    max-width: 100%;
    border: var(--section-border-thickness) var(--clr-tertiary) solid;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}
.video_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        transition: opacity 300ms linear;
    }
    &:hover {
        img {
            opacity: 0.7;
        }
    }

    svg {
        position: absolute;
        color: var(--clr-tertiary);
        font-size: clamp(2.5rem, 14vw, 5rem);
        z-index: 100;
    }
}

@include mixin.desktop {
    .page {
        max-width: 70rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 1.5rem;
    }
    .video_link {
        grid-column: 2;
        grid-row: 1/-1;
    }
    .button {
        grid-column: 1;
    }
}
